<!-- http://apidock.com/rails/ActionView/Helpers/FormHelper/form_for -->
<%= form_for(@roster, url: new_event_rosters_path, :method => 'post') do |f| %>
  <% if @roster.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>
    <ul>
      <% @roster.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label "Shift" %>&nbsp;&nbsp;
    <%= f.text_field :name_shift, :size => 39 %>
  </div>

  <div class="field">
    <%= f.label "Hospital" %>&nbsp;&nbsp;
    <%= f.text_field :name_location_hospital, :size => 36 %>
  </div>

  <div class="field">
    <%= f.label "Department" %>&nbsp;&nbsp;
    <%= f.text_field :name_location_shift, :size => 33 %>
  </div>

  <div class="field">
    <%= f.label "Start Time" %>&nbsp;&nbsp;
    <%= f.datetime_select :time_shift_start %>
  </div>

  <div class="field">
    <%= f.label "End Time" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.datetime_select :time_shift_end %>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, :class => "btn btn-default btn-lg active" %>&nbsp;

    <%= f.submit("Create", data: { :disable_with => "Please wait.." }, :class => "btn btn-lg btn-success") %>
  </div>
  
<% end %>
