<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>


<%- if devise_mapping.omniauthable? %>
  <%#- resource_class.omniauth_providers.each do |provider| %>
    <%#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><!-- <br /> -->
  <%# end -%>
  <div class="deffered-block">
	  <%= link_to image_tag("/images/login_tw.jpg"), omniauth_authorize_path(resource_name, :twitter), class: 'social' %><br>
	  <%= link_to image_tag("/images/login_go.jpg"), omniauth_authorize_path(resource_name, :google_oauth2), class: 'social'  %><br>
	  <%= link_to image_tag("/images/login_fb.jpg"), omniauth_authorize_path(resource_name, :facebook), class: 'social' %>
  </div>
<% end -%>

<script>

    // display disable message to users so they know
    // OAuth authentication is loading
	$('.social').on('click', function() {
	    var destination = $(this).attr('href');
	    //$(this).html("disable msg");
	    $(this).html('<img src=\"\/images\/login_delay.jpg\"/>'); 
	    setTimeout(function() { 
	      location = destination;
	    }, 1000); // function fires after 2s if value is 2000
	    return false;
	});

</script>


