<br><br>

<!-- Begin Body -->
<div class="container-user">

  <div class="row">

    <div class="col-sm-2" id="sidebar-user">
      <br><br>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#" id="roster" class="btn btn-default btn-lg responsive">Roster</a></li>
        <li><a href="/deliveries" id="births"class="btn btn-default btn-lg responsive">Births</a></li>
        <li class="divider-user"></li>
        <li><a href="#" id="news"class="btn btn-default btn-lg responsive">Tweets</a></li>
      </ul>
    </div>  

    <div class="col-sm-9" id="exchange-main">
      <br>
      <h1>Latest Midwifery Tweets</h1><br>
      <h2><a href="https://twitter.com/<%= @tweet[0].user.screen_name %>" target="new">@<%= @tweet[0].user.screen_name %> News</a></h2>
      <img src="http://twitteling.com/wp-content/uploads/2012/08/gopego_Free-Baby-wallpaper.jpg" style="height:240px;width:640px;" class="tweet-image">
      <% t = 0 %>
      <% @tweet.each do |tweet| %>
        <div class="tweets">
        <%= auto_link(tweet.text).html_safe %>
        </div><br>
        <% t = t + 1 %>
      <% end %>
      <h2><a href="https://twitter.com/<%= @tweet2[0].user.screen_name %>" target="new">@<%= @tweet2[0].user.screen_name %> News</a></h2>
      <% t = 0 %>
      <% @tweet2.each do |tweet| %>
        <div class="tweets2" class="bg-primary bg-primary_ls_round">
        <%= raw auto_link(tweet.text) %> 
        </div><br>
        <% t = t + 1 %>
      <% end %>
    </div>

    <div class="col-sm-9" id="exchange-roster" >        
      <!-- responsive bootstrap 'table' and 'table-responsive' and 'active' css -->
      <div class="table-responsive"><br>



        <div class="delivery-links">
          <%= link_to "New Event", "/rosters/new", :class => "btn btn-success btn-lg active", :style => "width: 100%;" %> 
        </div>

        <div class="delivery-links">
          <%= link_to "View Calendar", "/rosters?filter=view", :class => "btn btn-default btn-lg responsive", :style => "width: 100%;" %> 
        </div>

        <div style="inline"><h1>My Roster</h1>
        </div>&nbsp;

        <a href="https://www.google.com/calendar/embed?src=m88eksashs23rt5r00ji2vpn2g%40group.calendar.google.com&ctz=Australia/Sydney" target="new">Test Public Google Calendar</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  

        <a href="https://www.googleapis.com/calendar/v3/calendars/m88eksashs23rt5r00ji2vpn2g@group.calendar.google.com/events?key=AIzaSyAY38OxGwCWsZZCyhRuaf4IpmxGSLUqTGg&access_token=733619507900-0h7r35475cpc7e0gckr943u6vmqund9c.apps.googleusercontent.com" target="new">View JSON</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

        <a href="mailto:ltfschoen@gmail.com" target="new">Request Calendar Access</a>
        
        <table id="calendar-list" class="table table-hover">
          <!-- ajax outputs -->
          
        </table>
      </div>
    </div> 

  </div>

</div>

<div id="google-key"><%= @google_key %></div>
<div id="google-simple"><%= @google_simple %></div>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render 'users/load_calendar.js' %>
  </script>
<% end %>

<!-- jQuery onclick functions switch page view between roster, births, tweets -->
<%= javascript_include_tag "switch_pages.js" %>

<!-- https://developers.google.com/api-client-library/javascript/samples/samples#LoadinganAPIandMakingaRequest -->
<script src="https://apis.google.com/js/client.js?onload=loadGoogleAPI"></script>
