<%= form_for(@delivery) do |f| %>

  <% if @delivery.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:
    </h2>
    <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label "Baby Name" %>&nbsp;&nbsp;
    <%= f.text_field :name_baby, :size => 36 %>
  </div>

  <div class="field">
    <%= f.label "Date of Birth" %>&nbsp;&nbsp;
    <%= f.datetime_select :time_born %>
  </div>

  <div class="field">
    <%= f.label "Birthplace" %>&nbsp;&nbsp;
    <%= f.text_field :name_location_born, :size => 37 %>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, :class => "btn btn-default btn-lg active" %>&nbsp;

    <%= f.submit("Create", data: { :disable_with => "Please wait.." }, :class => "btn btn-lg btn-success") %>
    <!-- <a href="#" id="create_event" class="btn btn-default btn-lg responsive">Create Event</a> -->
  </div>

<% end %>
