<br><br><br>

<div class="delivery-links">
  <%= link_to "Back", user_path(current_user), :class => "btn btn-default btn-lg active", :method => :get, :id => "make-new-delivery", :style => "width: 100%;" %> 
</div>

<div class="delivery-links">
  <%= link_to "Create", "/deliveries/new", :class => "btn btn-success btn-lg active", :method => :get, :id => "make-new-delivery", :style => "width: 100%;" %> 
</div>

<div class="delivery-links">
  <!-- fetch all deliveries -->
  <%= link_to "All", "/deliveries", :class => "btn btn-default btn-lg active", :method => :get, :id => "fetch-all-deliveries", :style => "width: 100%;" %> 
</div>

<div class="delivery-links">
  <%= link_to "My", "/deliveries?filter=my", :class => "btn btn-default btn-lg active", :method => :get, :id => "fetch-my-deliveries", :style => "width: 100%;" %> 
</div>

<% if @all == true %>
<h1>All Deliveries</h1>
<% elsif @all == false %>
<h1>My Deliveries</h1>
<% end %>

<table id="deliveries-list" class="table table-hover">

  <thead>
    <tr>
      <th class="delivery-centred">Baby Name</th>
      <th class="delivery-centred">DOB</th>
      <th class="delivery-centred">Birth Location</th>
      <th class="delivery-centred">Midwife & User ID</th>
      <% if @all == false %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="tbody">
    <% @deliveries.each do |delivery| %>
    <tr onclick="showDelivery(<%= delivery.id %>)">
      <a id="fake_click_<%= delivery.id %>" href="/deliveries/<%= delivery.id %>"></a>
      <td onmouseover="" style="cursor: pointer;"><%= delivery.name_baby %></td>
      <td onmouseover="" style="cursor: pointer;"><%= delivery.time_born %></td>
      <td onmouseover="" style="cursor: pointer;"><%= delivery.name_location_born %></td>
      <td onmouseover="" style="cursor: pointer;"><%= delivery.user.name if delivery.user %> <%= delivery.user.id if delivery.user %></td>
      <% if @all == false %> <!-- only let midwife user who created baby make changes -->
      <td><%= link_to "Destroy", delivery, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-default" %></td>
      <% end %>
    </tr>
    <% end %>
    User ID <%= current_user.id if current_user %>
  </tbody>

</table>

<!-- jQuery functions display list of deliveries (babies) -->
<%= javascript_include_tag "deliveries.js" %>
